<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "com.mwriley.pgbuild.sample"
	version		= "1.0.0">

	<name>PhoneGap Formaggio 101</name>

	<description>
		A sample PhoneGap application for the Formagg.io API.
	</description>

	<author href="http://matthewriley.us">
		Stephan Smith
	</author>

	<gap:platforms>
		<gap:platform name="webos" />
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

</widget>